NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_STRIPE_FREE_TRAIL_PLAN=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOKS_SECRET=
BREVO_KEY=
NEXT_PUBLIC_APP_ENV=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
S3_UPLOAD_KEY=
S3_UPLOAD_SECRET=
S3_UPLOAD_BUCKET=
S3_UPLOAD_REGION=